// variables
$colorPrimary:#9356DC;
$colorSecondary :#FF79DA ;
$colorTertiary:#99E2D0;
$colorBackGround:#f2f2f2;
$paddingAccueil: 7px 130px 7px 130px;
$paddingButton:25px 25px 25px 25px;
$fontSize:(text:20px,subtitle:25px,title:30px,id:23px,info:20px,button:18px,);
$marginBottomSection: 50px;



// Style générale
body{
    text-decoration: none;
    margin:0px;
    width:100%;

    a{
        text-decoration: none;
        font-family: "Roboto",sans-serif;
    }
    a:visited{
        text-decoration: none;
        color:black
    }
    p,h2{
        font-family: "Roboto",sans-serif;
    }
    h1{
        font-family: "Shrikhand","Roboto",sans-serif;
    }

}

// -----------------------Header accueil................//
.logo{
    margin-top:0px;
    margin-bottom: 10px;
    padding:30px 0px 20px 0px;
    box-shadow:1px 0px 8px grey;
    display: flex;
    justify-content: center;
    &__img{
        height:40px;
    }
}
.accueil{
display:flex;
flex-direction: column;
justify-content: center;
align-items :center;
flex: 1;
background-color: $colorBackGround;
padding-bottom:60px;
margin-bottom:$marginBottomSection;
&__title{
    font-size: map-get($map: $fontSize, $key:title );
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom:10px;
    font-family: "Roboto",sans-serif;
    text-align: center;
}
&__text{
    font-size: map-get($map: $fontSize, $key:text );
    margin-left: 40px;
    margin-right: 40px;
    color:grey;
    text-align: center;
    margin-top:0px;
}
}

.location{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    background-color:white;
    padding:20px 0px 30px 110px;
    &__icone{
        height:20px;
    }
    &__search{
        width: 400px;
        padding-left:20px;
        padding-top:6px;
        font-size:20px;
        font-weight:bold ;
        border:none;
        background-color:white;
        &::placeholder{
            color:black;
        }
    }

    
  
}

.button-purple{
    font-size: map-get($map: $fontSize, $key:button );
    color:white;
    border:none;
    border-radius:33px;
    background:linear-gradient($colorSecondary,$colorPrimary);
    padding:$paddingButton;
    text-decoration: none;
    box-shadow: 1px 1px 10px grey;
    margin-top:20px;
    margin-left:auto;
    margin-right: auto;
    &--command{
        display:block;
      margin-left:auto;
      margin-right:auto;
      width:auto;
      margin-top: 50px;
      margin-bottom: 70px;;
    }
    &:visited{
        color:white;
    }
    &:hover{
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
        box-shadow:2px 2px 15px grey;
        transition: box-shadow 0.3s ease-in-out;

    }
}

// -----------------------------------------------------main----------------------------------
.fonction--titre{
   margin-left: 15px;
   font-size: map-get($map: $fontSize, $key:title );
}
.fonction{
    padding:0px;
    
    &__card{
        display:flex;
        justify-content:stretch;
        list-style-type: none;
        background-color: $colorBackGround;
        padding:20px 30px 20px 30px;
        margin-bottom:20px;
        border-radius: 35px;
        border-bottom :1px solid lightgrey;
        border-bottom-width:80%;
        &:hover{
         background-color: lighten($color: $colorPrimary, $amount: 35%);
         color:lighten($color: $colorPrimary, $amount: 10%);
     }
        &:hover > &__icone{
         color:$colorPrimary;
     }
     &--numero {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 25px;
         height: 25px;
         border-radius: 50%;
         background-color: #9256dc;
         color: #fff;
         font-size: 17px;
         font-weight: bold;
         margin-right: 20px;
       }
       &--icone{
           color:grey;
           font-size: 25px;
            margin-right:15px;
           
          
       }
       &--text{
           font-size:map-get($map: $fontSize, $key:text );
           font-weight: bold;
           
           
       }
    }
    
    
         
        
           
   
 }
 
 .padding-left{
     padding-left: 50px;
 }
 .restaurant{
     background-color: $colorBackGround;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-bottom: 60px;
     &__title{
         font-size: map-get($map: $fontSize, $key:title);
     }
     &__title:nth-child(1){
         align-self:baseline;
         padding-left:10px;
     }
 }
 
 
 
 
 .card{
     background-color: white;
     border-radius:33px;
     margin :15px;
     text-decoration: none;
     box-shadow: 0px 2px 0px lightgray;
     position:relative;
     &__new{
         position:absolute;
         top:10px;
         right:20px;
         color:green;
         background-color:rgb(164, 243, 164);
         padding:6px;
         font-weight: 600;
     }
    
     &__img{
         height :175px;
         width: 350px;
         border-top-left-radius: 33px;
         border-top-right-radius: 33px;
     }
     &__info{
         display:flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         padding: 5px;
         color:black;
         
         &--text{
            margin:5px 0px 5px 5px;
         }
         &--nom{
            margin :5px 0px 5px 5px;
         }
         
     }
     &__icone{
         height:20px;
         padding-right: 15px;
         &:hover{
             color:$colorSecondary;
               transition:color 0.5s ease-out;
           } 
     }
     
     &:visited{
         color:black; 
 }
 &:hover{
     transform:scale(1.1);
     transition: transform 0.3s ease-in ;
     
 }
     
 }  
 


 // ------------------------------------Footer---------------------------------
.footer{
    position:relative;
    z-index:1;
    bottom:0px;
    background-color: lighten($color: black, $amount: 15%);
    &__logo{
        padding: 15px;
        height:25px;

    }
    &__lien{
        display:flex;   
        align-items: center;
        color:white;
        font-size:20PX ;
        margin:10px;
        margin-left:30px;
        &:visited{
            color:white;
        }
    }
    &__icone{
        padding-right: 20px;
        color:white;
    }
}

